<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__content flex">
      <h1 class="hero__mainheading title-reset">Loren Ipsum</h1>
      <div class="swiper slider">
        <div class="swiper-wrapper hero__grid">

          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">1</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter id="filter0_d_9_363" x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>
              <svg class="content-card__route" width="213" height="232" viewBox="0 0 213 232" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_351)">
                  <path
                    d="M40.1887 2.29282C32.6463 14.4412 19.5532 41.5655 27.52 52.8762C37.4783 67.0147 68.2063 63.105 81.6 85.4586C94.9936 107.812 66.8385 147.487 106.592 157.113C146.345 166.738 166.424 192.205 187.107 179.928"
                    stroke="white" stroke-opacity="0.6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="9.83 9.83" shape-rendering="crispEdges" />
                </g>
                <defs>
                  <filter x="0.153688" y="0.7948" width="212.053" height="230.823" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="23.5982" />
                    <feGaussianBlur stdDeviation="11.7991" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_351" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_351" result="shape" />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">2</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>

              <svg class="content-card__route" width="195" height="170" viewBox="0 0 195 170" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_352)">
                  <path
                    d="M37.7509 1.65953C31.5831 11.2681 21.0377 32.0737 28.1989 38.4271C37.1504 46.3687 63.4988 38.3811 75.6276 51.344C87.7564 64.3069 59.309 121.604 93.7895 121.307C128.27 121.01 151.509 109.637 168.985 97.6683"
                    stroke="white" stroke-opacity="0.6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="9.83 9.83" shape-rendering="crispEdges" />
                </g>
                <defs>
                  <filter id="filter0_d_9_352" x="0.881166" y="0.155701" width="193.199" height="169.852"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="23.5982" />
                    <feGaussianBlur stdDeviation="11.7991" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_352" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_352" result="shape" />
                  </filter>
                </defs>
              </svg>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">3</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>
              <svg class="content-card__route" width="210" height="234" viewBox="0 0 210 234" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_353)">
                  <path
                    d="M169.221 1.66934C176.974 13.6842 190.539 40.5759 182.771 52.024C173.061 66.334 142.269 62.9613 129.268 85.5452C116.266 108.129 145.109 147.307 105.53 157.624C65.9507 167.942 46.3194 193.755 25.4258 181.842"
                    stroke="white" stroke-opacity="0.6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="9.83 9.83" shape-rendering="crispEdges" />
                </g>
                <defs>
                  <filter id="filter0_d_9_353" x="0.32538" y="0.171204" width="209.583" height="233.088"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="23.5982" />
                    <feGaussianBlur stdDeviation="11.7991" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_353" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_353" result="shape" />
                  </filter>
                </defs>
              </svg>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">4</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>

              <svg class="content-card__route" width="310" height="112" viewBox="0 0 310 112" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_354)">
                  <path
                    d="M25.9535 62.4098C28.2215 48.2791 64.6513 27.654 80.7809 33.1027C97.1902 38.6459 118.21 52.1399 142.977 44.0747C167.745 36.0096 172.492 -12.4566 208.821 6.42262C245.149 25.3018 277.006 19.2832 284.577 42.1524"
                    stroke="white" stroke-opacity="0.6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="9.83 9.83" shape-rendering="crispEdges" />
                </g>
                <defs>
                  <filter id="filter0_d_9_354" x="0.851381" y="0.595032" width="308.828" height="110.508"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="23.5982" />
                    <feGaussianBlur stdDeviation="11.7991" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_354" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_354" result="shape" />
                  </filter>
                </defs>
              </svg>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">5</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>
              <svg class="content-card__route" width="259" height="186" viewBox="0 0 259 186" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_355)">
                  <path
                    d="M232.565 1.96826C234.038 16.1899 236.394 52.0487 224.29 58.6966C209.161 67.0065 183.245 49.9813 161.438 64.1538C139.631 78.3264 145.812 144.44 105.869 135.593C65.9263 126.746 38.5445 122.655 25.315 102.539"
                    stroke="white" stroke-opacity="0.6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="9.83 9.83" shape-rendering="crispEdges" />
                </g>
                <defs>
                  <filter id="filter0_d_9_355" x="0.212709" y="0.472107" width="258.675" height="184.552"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="23.5982" />
                    <feGaussianBlur stdDeviation="11.7991" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_355" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_355" result="shape" />
                  </filter>
                </defs>
              </svg>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-card">
              <div class="content-card__left">
                <svg class="content-card__number" width="51" height="51" viewBox="0 0 51 51" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="25.5" cy="25.5" r="25" fill="#5E7600" stroke="white" />
                </svg>
                <p class="content-card__descr">6</p>
              </div>
              <h2 class="content-card__title title-reset"> Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h2>
              <svg class="content-card__icon" width="44" height="61" viewBox="0 0 44 61" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_9_363)">
                  <path
                    d="M21.5766 11C17.9444 11 15 13.9444 15 17.5766V40.8302C15 41.1521 15.4258 41.2667 15.5874 40.9884L27.2639 20.8789C29.8096 16.4945 26.6464 11 21.5766 11Z"
                    fill="white" />
                </g>
                <defs>
                  <filter x="0" y="0" width="43.163" height="60.1457" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="7.5" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_363" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_363" result="shape" />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- кнопки для навигации -->
    <div class="hero__btn">
      <div class="hero__btn-prev">
        <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 5.5L1 5.5M1 5.5L7 1M1 5.5L7 10" stroke="#F6FFD2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        loren ipsum</div>
      <div class="hero__btn-next">loren ipsum
        <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 5.5L17 5.5M17 5.5L11 10M17 5.5L11 1" stroke="#F6FFD2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>


</section>
