:root {
  //  шрифты
  --font-family: "ActayR", sans-serif;
  --second-family: "ActayWB", sans-serif;

  // colors
  --color-white: #fff;
  --accent-color: #43ABF0;
  --active-color: #286690;
  --color-black: #000000;
  --color-slider: #f6ffd2;
  --color-gray:rgba(255, 255, 255, 0.3);
  --color-icon-number: #F6FFD2;
}
